@import './variables.scss';

.main__wrapper {
    background-image: url('../img/accessories-bg.jpg');
}

.acces-text {
    margin-top: 5vh;
    padding: 60px;
    margin-left: 40px;
    border-radius: 4px;
    max-width: 70%;
    background-color: rgba(255,255,255,0.6);
    .title {
        font-size: 28px;
        font-weight: 700;
        color: $blue-dark;
        margin-bottom: 20px;
    }
    .text {
        font-size: 22px;
        color: $blue-dark;
    }

    .qualities {
        display: flex;
        margin-top: 50px;
        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 300px;
            text-align: center;
            &:not(:last-of-type) {
                margin-right: 30px;
            }

            .text {
                font-size: 18px;
            }

            .ico {
                width: 60px;
                height: 60px;
                background-size: 100% 100%;
                margin-bottom: 18px;

                &.guarantee {
                    background-image: url('../ico/guarantee.svg');
                }
                &.settings {
                    background-image: url('../ico/settings.svg');
                }
                &.acua {
                    background-image: url('../ico/water-drop.svg');
                }
                &.wind {
                    background-image: url('../ico/wind-o.svg');
                }
            }
        }
    }
}