@import './variables.scss';

.main__wrapper {
    background-image: none;
}

.main__header ul {
    background-color: white;
}

.main-block {
    display: flex;
    margin: 0 60px;
    height: 500px;
    justify-content: space-around;
    .text {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 22px;
        height: 420px;
        background-color: rgba(250,180,78,0.1);
        .main {
            color: $blue-dark;
            text-align: center;
            padding: 30px;
        }
        form {
            display: flex;
            margin-top: 30px;
            .input {
                position: relative;
                height: 46px;
                margin-right: 20px;
                input {
                    height: 46px;
                    padding-left: 36px;
                    padding-right: 20px;
                    background-color: rgba(61, 102, 132, 0.5);
                    border: none;
                    outline: none;
                }
                .ico {
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    background-image: url('../ico/call-b.svg');
                    background-size: 100% 100%;
                    top: 50%;
                    left: 8px;
                    transform: translateY(-50%);
                }
            }
            .submit {
                height: 46px;
                padding-left: 20px;
                padding-right: 20px;
                outline: none;
                cursor: pointer;
                border: none;
                color: white;
                background-color: $blue-dark;
            }
        }
    }
    .img {
        flex-basis: 55%;
        height: 100%;
        background-image: url('../img/blind.jpg');
        background-size: cover;
    }
}

.partnera {
    margin-left: 90px;
    margin-top: -20px;
    font-size: 22px;
    color: $blue-dark;
    .logos-block {
        border: 1px solid rgba(250,180,78,0.6);
        height: 100px;
        width: 50%;
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin-left: -10px;
        .logo {
            width: 200px;
            height: 60px;
            margin-right: 40px;
            background-size: 100% auto;
            background-position: 50% 100%;
            background-repeat: no-repeat;
            &.moller {
                background-image: url('../img/moeller.png');
            }
            &.crystall {
                background-image: url('../img/crystallit.png');
            }
            &.maco {
                background-image: url('../img/maco.png');
                background-size: 60px 60px;
            }
        }
    }
}