@import "variables.scss";

.main__wrapper {
    background-image: none;
    min-height: 0;
}

.main-text-block {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 248, 235);
    .text {
        flex-basis: 50%;
        padding-left: 40px;
    }
    .img {
        flex-basis: 45%;
        min-height: 300px;
        max-height: 300px;
        overflow: hidden;
        position: relative;
        img {
            height: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-height: 100%;
        }
    }
}

.about__wrapper {
    margin-top: 40px;
    .title {
        text-align: center;
    }
    .about__block {
        margin: 30px;
        padding: 40px;
        background-color: rgba(255, 248, 235, 0.5);
    }
}
.about__images {
    margin: 40px;
    display: flex;
    justify-content: space-around;
    .img {
        position: relative;
        width: 280px;
        height: 280px;
        overflow: hidden;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            min-height: 280px;
            height: 100%;
            transform: translate(-50%, -50%);
        }
    }
}

.dop__wrapper {
    .title {
        text-align: center;
        display: block;
        margin-bottom: 40px;
    }
    .dop__block {
        display: flex;
        .img {
            width: 300px;
            min-width: 300px;
            height: 300px;
            overflow: hidden;
            position: relative;
            margin-left: 50px;
            margin-right: 20px;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                min-height: 300px;
                height: 100%;
                transform: translate(-50%, -50%);
            }
        }
        .text {
            background-color: rgba(255, 248, 235, 0.5);
            padding: 20px;
            margin-right: 50px;
        }
    }
}

.footer__wrapper {
    padding: 0;
    margin-top: 50px;
    .img {
        width: 370px;
        min-width: 370px;
        height: 200px;
        overflow: hidden;
        position: relative;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            min-height: 200px;
            height: 100%;
            transform: translate(-50%, -50%);
        }
    }
    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
}