@import './variables.scss';

.main__wrapper {
    background-image: url('../img/glass-bg.jpg');
    background-position: 50% 0;
    position: relative;
}

.slider {
    margin-top: 18vh;
    background-color: rgba(255,255,255,0.7);
    color: $blue-dark;
}

.glass-about {
    background-color: white;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 20px;
    .logo {
        height: 35px;
        width: 220px;
        margin-right: 30px;
        background-image: url('../img/guardian.png');
        background-size: 100% 100%;
    }
    .text {
        font-weight: 700;
    }
}