@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');
@import './variables.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.header {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 10;
    height: 80px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;

    @media (min-width: 1920px) {
        padding-left: calc((100vw - 1600px)/2);
    }

    &__logo {
        font-size: rem(42);
        font-weight: 800;
        color: white;
        text-decoration: none;
        transition: opacity 0.3s ease-out;
        display: inline-block;
        line-height: 80px;
        padding-right: 25px;
        text-shadow: 0 0 10px rgba(0,0,0,0.4);

        &:hover {
            opacity: 0.7;
        }
    }

    &__nav {

        &__list {
            color: $blue-dark;
            list-style: none;
            padding: 0;
            display: flex;
            font-size: rem(14px);
            margin-left: 90px;

            &-item {

                &:not(:last-of-type) {
                    margin-right: 15px;
                }

                a {
                    color: inherit;
                    text-decoration: none;
                    padding-left: 5px;
                    padding-right: 5px;
                    transition: opacity .4s ease-out;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

.phone__link {
    display: flex;
    align-items: center;
    font-size: rem(13px);
    color: #1e3648;
    text-decoration: none;
    margin-left: 30px;

    .ico {
        width: 14px;
        min-width: 14px;
        height: 14px;
        background-image: url('../ico/call-b.svg');
        background-size: 100% 100%;
        margin-right: 8px;
    }
}

.arrows__block {
    display: flex;

    .arrow {
        height: 36px;
        width: 120px;
        background-color: white;
        cursor: pointer;
        border-radius: 2px;
        background-image: url('../ico/arrow-right.svg');
        background-size: 80% 8px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        transition: opacity .3s ease-out;

        &:hover {
            opacity: 0.8;
        }

        &-left {
            margin-right: 30px;
            transform: rotate(180deg);
        }
    }
}

.slick-initialized .slick-slide {
    outline: none;
}

.footer {
    &__wrapper {
        color: white;
        display: flex;
        background-color: $blue-dark;
        padding: 60px;
    }

    &-left {
        &__block {
            margin-right: 40px;
            flex-basis: 50%;

            .title {
                font-size: $font-md;
                font-weight: 700;
                text-transform: uppercase;

                &:not(:first-of-type) {
                    margin-top: 20px;
                }
            }
        }

        &__list {
            padding: 0;
            margin-top: 10px;
            margin-bottom: 30px;
            list-style: none;

            &:last-of-type {
                margin-bottom: 0;
            }

            &-item {
                display: flex;
                justify-content: space-between;
                margin-bottom: 26px;

                .place {
                    max-width: 450px;
                }

                .tel__block {
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    min-width: 140px;
                    text-align: right;

                    a {
                        color: white;
                        text-decoration: none;
                        transition: opacity 0.3s ease-out;

                        &:hover {
                            opacity: 0.6;
                        }
                    }
                }
            }
        }
    }

    &-right {
        &__block {
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
        }

        &__head {
            display: flex;
            justify-content: space-around;
            margin-bottom: 30px;

            &-link {
                display: flex;
                align-items: center;
                color: white;
                text-decoration: none;
                transition: opacity 0.3s ease-out;

                &:hover {
                    opacity: 0.6;
                }

                .ico {
                    display: block;
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    width: 30px;
                    height: 30px;
                    margin-right: 20px;
                }

                &.mail {
                    .ico {
                        background-image: url('../ico/mail.svg');
                    }
                }

                &.tel {
                    .ico {
                        background-image: url('../ico/call.svg');
                        background-size: 20px 20px;
                        background-position: 100% 50%;
                    }
                }
            }
        }

        &__map {
            width: 100%;
            height: 80%;
            iframe {
                width: 100%;
                height: 100%;
            }
        }

        &__social {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 30px;

            &-link {
                display: inline-block;
                width: 30px;
                height: 30px;
                background-size: 100% 100%;
                transition: opacity 0.3s ease-out;

                &:hover {
                    opacity: 0.6;
                }

                &.instagram {
                    background-image: url('../ico/instagram.svg');
                    margin-right: 18px;
                }

                &.facebook {
                    background-image: url('../ico/facebook.svg');
                    margin-right: 18px;
                }
            }
        }
    }
}