@import "variables.scss";

.main__wrapper {
    justify-content: flex-start;
    background-image: url('../img/products-main.jpeg');
    height: auto;
    background-position: 90% 90%;
}

.product__header {
    background: rgba(255,255,255,0.6);
    margin: 20px auto;
    border-radius: 2px;
    padding-left: 20px;
    padding-right: 20px;
    ul {
        list-style: none;
        display: flex;
        padding: 0;
        justify-content: center;
        li {
            position: relative;
            &:not(:last-of-type) {
                margin-right: 20px;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                display: block;
                height: 1px;
                width: 100%;
                background-color: $blue-dark;
                opacity: 0;
                transition: opacity .4s ease-out;
            }
            a {
                color: $blue-dark;
                text-decoration: none;
            }
            &.active {
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}

.product__qualities {
    margin-top: 60px;
    max-width: 52%;
    padding: 20px;
    margin-left: 60px;
    background-color: rgba(255, 254, 243, 0.6);
    color: $blue-dark;
    .element {
        display: flex;
        &:not(:last-of-type) {
            margin-bottom: 20px;
        }
        .ico {
            width: 20px;
            height: 20px;
            min-width: 20px;
            background-image: url('../ico/yes.svg');
            background-size: 100% auto;
            margin-right: 14px;
            margin-top: 4px;
        }
    }
}

.alert__block {
    background-color: #e75a59;
    margin-top: auto;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .text {
        color: white;
        margin-right: 20px;
        font-weight: bold;
        max-width: 60%;
        font-size: 22px;
        padding-right: 40px;
    }
    .form-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        .input {
            position: relative;
            width: 100%;
            height: 30px;
            margin-right: 20px;
            background: white;
            border-radius: 2px;
            input {
                padding-left: 32px;
                border-radius: 2px;
                width: 100%;
                height: 100%;
                outline: none;
                border: none;
                background-image: linear-gradient(45deg, white, white);
            }
            .ico {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 8px;
                width: 14px;
                height: 14px;
                background-image: url('../ico/call-b.svg');
                background-size: 100% 100%;
            }
        }
        .submit {
            height: 30px;
            text-transform: uppercase;
            background-color: white;
            outline: none;
            cursor: pointer;
            border: 1px solid white;
            border-radius: 2px;
            padding: 0 18px;
            transition: background-color .3s ease-out;
            &:hover {
                background-color: rgba(255,255,255,0.5);
            }
        }
    }
    #agree {
        position: absolute;
        opacity: 0;
    }
    .agree {
        color: $blue-dark;
        position: relative;
        padding-left: 24px;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            border: 1px solid $blue-dark;
            border-radius: 2px;
            top: 2px;
            background-size: 70% 70%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            left: 0;
        }
    }
    #agree:checked + .agree::after {
        background-image: url('../ico/yes-form.svg');
    }
}

.about-pr__block {
    background-color: $blue-dark;
    color: white;
    padding: 20px;
    text-align: center;
}

.product__card {
    margin-top: 40px;
    margin-bottom: 40px;
    .title {
        color: #e75a59;
        text-transform: uppercase;
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
    }
}

.produect__content {
    display: flex;
    padding: 20px 60px;
    align-items: center;
    min-height: 400px;
    .text {
        flex-basis: 30%;
    }
    .img {
        flex-basis: 30%;
        height: 400px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 100%;
            max-height: 400px;
        }
    }
    .params {
        flex-basis: 40%;
        .param-elem {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            border-top: 1px solid rgba(0,0,0,0.2);
            &:last-of-type {
                border-bottom: 1px solid rgba(0,0,0,0.2);
            }

            padding-top: 10px;
            padding-bottom: 10px;
            .param {
                text-transform: uppercase;
                flex-basis: 60%;
            }
            .value {
                text-align: left;
                flex-basis: 40%;
                padding-left: 15px;
            }
        }
    }
}

.produect__keys {
    margin-top: 30px;
    display: flex;
    margin-left: 70px;
    .key {
        margin-right: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;
        text-align: center;
        .ico {
            width: 80px;
            height: 80px;
            background-size: 60% 60%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            margin-bottom: 10px;
            &.eco {
                background-image: url('../ico/eco-g.svg');
            }
            &.tep {
                background-image: url('../ico/temp-o.svg');
            }
            &.noi {
                background-image: url('../ico/voice-n.svg');
            }
            &.exc {
                background-image: url('../ico/window-o.svg');
            }
            &.gua {
                background-image: url('../ico/secure-b-o.svg');
            }
            &.sec {
                background-image: url('../ico/lock.svg');
            }
            &.cold {
                background-image: url('../ico/cold.svg');
            }
            &.color {
                background-image: url('../ico/colors.svg');
            }
            &.sun {
                background-image: url('../ico/sun.svg');
            }
        }
        .text {
            font-size: 14px;
        }
    }
}

.logo__wrapper {
    background-color: $blue-dark;
    padding: 20px 60px;
    .teplo {
        width: 180px;
        height: 90px;
        background-image: url('../img/teplowin.png');
        background-size: 100% auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }
    .text {
        text-align: center;
        color: white;
    }
}

.pack {
    display: flex !important;
    justify-content: center;
    align-items: center;
    .img {
        flex-basis: 30%;
        img {
            max-width: 400px;
        }
    }
    .about {
        width: 50%;
        margin-left: 40px;
        .title {
            font-weight: 900;
            margin-bottom: 20px;
        }
    }
}

.pack__block {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btns-pr {
    display: flex;
    align-items: center;
    justify-content: center;
    .pr-btn {
        cursor: pointer;
        padding: 5px 20px;
        border: 1px solid black;
        border-radius: 2px;
        font-size: 13px;
        background-color: #e75a59;
        color: white;
        text-transform: uppercase;
        margin: 20px;
        transition: border-color .3s ease-out;
        width: 160px;
        text-align: center;
        &.active {
            border-color: #e75a59;
        }
    }
}