@import "variables.scss";

.main {
    &__wrapper {
        background-image: url('../img/dealer.jpg');
    }
}

.form__wrapper .text {
    padding-top: 0 !important;
    background: rgba(61, 102, 132, 1);
    margin-bottom: 80px;
}

.form__wrapper {
    height: auto;
    min-height: 100vh;
}

.key-title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 24px;
}

.key__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    .key-elem {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        .ico {
            width: 160px;
            height: 160px;
            background-color: white;
            border-radius: 4px;
            display: block;
            margin-bottom: 20px;
            text-align: center;
            border: 1px solid #777777;

            svg {
                max-width: 80px;
                max-height: 80px;
                margin-top: 40px;
                fill: black;
            }
        }
        .title {
            font-size: 14px;
            max-width: 160px;
            text-align: center;
        }
    }
}

.download__block {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
    .download {
        color: black;
        background: white;
        text-decoration: none;
        &:first-of-type {
            margin-right: 40px;
        }
        display: flex;
        align-items: flex-start;
        padding: 20px;
        border-radius: 4px;
        border: 1px solid white;
        transition: background-color .3s ease-out;
        .ico {
            width: 24px;
            height: 24px;
            background-size: 100% 100%;
            margin-right: 14px;
            background-image: url('../ico/file.svg');
        }

        &:hover {
            background: rgba(255,255,255,0.7);
        }
    }
}

.main__img {
    margin-bottom: 10vh;
    max-height: 450px;
    max-width: 55vw;
    margin-left: 60px;
    background: $blue-dark-o;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    .title {
        text-align: left !important;
    }
}