@import './functions.scss';

$blue-dark-o: rgba(30, 54, 72, 0.5);
$blue-dark: rgb(30, 54, 72);

$blue-light-o: rgba(61, 102, 132, 0.5);
$blue-light: rgb(61, 102, 132);

$font-lg: rem(34);
$line-lg: rem(40);
$font-md: rem(22);
$font-sm: rem(14);