.main__wrapper {
  min-height: 100vh;
  height: 100vh;
  min-width: 100vw;
  background-image: url("../img/carier.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.main__header {
  background-color: aliceblue; }
  .main__header ul {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    margin: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .main__header ul li a {
      text-decoration: none;
      color: #1e3648;
      -webkit-transition: opacity .3s ease-out;
      -o-transition: opacity .3s ease-out;
      transition: opacity .3s ease-out; }
      .main__header ul li a:hover {
        opacity: 0.7; }
    .main__header ul li:not(:last-of-type) {
      margin-right: 20px; }

.main__img {
  background-color: #3d6684;
  padding: 20px;
  color: white; }
  .main__img .text .title {
    font-size: 2.125rem;
    text-align: center; }

.form__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  width: 100vw;
  color: white;
  background-image: url("../img/carier-form.jpg");
  background-size: cover; }
  .form__wrapper .text {
    background: #3d6684;
    padding: 40px;
    padding-left: 20px; }

.form__block {
  background-color: rgba(61, 102, 132, 0.5);
  padding: 40px;
  margin: 20px; }
  .form__block .title {
    font-size: 1.5625rem;
    margin-bottom: 20px; }
  .form__block .form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .form__block .form__left, .form__block .form__right {
    margin-right: 70px; }
    .form__block .form__left label, .form__block .form__right label {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 20px;
      width: 300px; }
      .form__block .form__left label input, .form__block .form__right label input {
        margin-top: 10px;
        height: 36px;
        padding-left: 10px; }
      .form__block .form__left label textarea, .form__block .form__right label textarea {
        margin-top: 10px;
        height: 100%;
        padding: 20px; }
  .form__block .form__right label {
    height: 100%; }
