.main__wrapper {
  background-image: none;
  height: auto;
  position: relative; }
  .main__wrapper .bg-img-p {
    position: absolute;
    top: 62px;
    background-image: url("../img/partner-bg.jpg");
    background-position: 50% 92%;
    height: 500px;
    width: 100%; }

.main__img {
  margin-top: 500px;
  position: relative; }
  .main__img p {
    max-width: 70%; }

.skills__block {
  margin-top: 40px;
  margin-bottom: 40px; }
  .skills__block .skill {
    background: #1e3648;
    padding: 20px;
    max-width: 40%; }
    .skills__block .skill:not(:last-of-type) {
      margin-bottom: 20px; }

.director__triangle {
  position: absolute;
  right: 0;
  top: -5vw;
  width: 50vw;
  height: 50vw;
  border: 50vw solid transparent;
  border-right: 50vw solid #1e3648;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .director__triangle.sh {
    top: -3vw;
    border-right: 50vw solid rgba(30, 54, 72, 0.5); }
  .director__triangle .director__card {
    width: 200px;
    position: absolute;
    right: -40vw; }
    .director__triangle .director__card .img {
      width: 200px;
      height: 300px;
      overflow: hidden; }
      .director__triangle .director__card .img img {
        width: 200px; }
    .director__triangle .director__card .name {
      margin-bottom: 20px; }

.elements__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  width: 62vw;
  height: 150px;
  background: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.7) calc(100% - 120px), transparent 120px);
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.7) calc(100% - 120px), transparent 120px);
  color: #1e3648; }
  .elements__block .ico {
    height: 80px;
    width: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .elements__block svg {
    fill: #1e3648;
    height: 80px;
    width: 80px; }
    .elements__block svg.ltl {
      height: 60px;
      width: 60px; }
  .elements__block .elem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100px; }
    .elements__block .elem:not(:last-of-type) {
      margin-right: 30px; }
    .elements__block .elem .elem-text {
      font-size: 14px;
      text-align: center; }

.download {
  color: black;
  background: white;
  text-decoration: none;
  margin-top: 80px;
  margin-bottom: 30px;
  width: 440px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid white;
  -webkit-transition: background-color .3s ease-out;
  -o-transition: background-color .3s ease-out;
  transition: background-color .3s ease-out; }
  .download:first-of-type {
    margin-right: 40px; }
  .download .ico {
    width: 24px;
    height: 24px;
    background-size: 100% 100%;
    margin-right: 14px;
    background-image: url("../ico/file.svg"); }
  .download:hover {
    background: rgba(255, 255, 255, 0.7); }
