.main__wrapper {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-image: url("../img/products-main.jpeg");
  height: auto;
  background-position: 90% 90%; }

.product__header {
  background: rgba(255, 255, 255, 0.6);
  margin: 20px auto;
  border-radius: 2px;
  padding-left: 20px;
  padding-right: 20px; }
  .product__header ul {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .product__header ul li {
      position: relative; }
      .product__header ul li:not(:last-of-type) {
        margin-right: 20px; }
      .product__header ul li::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        height: 1px;
        width: 100%;
        background-color: #1e3648;
        opacity: 0;
        -webkit-transition: opacity .4s ease-out;
        -o-transition: opacity .4s ease-out;
        transition: opacity .4s ease-out; }
      .product__header ul li a {
        color: #1e3648;
        text-decoration: none; }
      .product__header ul li.active::after {
        opacity: 1; }

.product__qualities {
  margin-top: 60px;
  max-width: 52%;
  padding: 20px;
  margin-left: 60px;
  background-color: rgba(255, 254, 243, 0.6);
  color: #1e3648; }
  .product__qualities .element {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .product__qualities .element:not(:last-of-type) {
      margin-bottom: 20px; }
    .product__qualities .element .ico {
      width: 20px;
      height: 20px;
      min-width: 20px;
      background-image: url("../ico/yes.svg");
      background-size: 100% auto;
      margin-right: 14px;
      margin-top: 4px; }

.alert__block {
  background-color: #e75a59;
  margin-top: auto;
  padding: 20px 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .alert__block .text {
    color: white;
    margin-right: 20px;
    font-weight: bold;
    max-width: 60%;
    font-size: 22px;
    padding-right: 40px; }
  .alert__block .form-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px; }
    .alert__block .form-top .input {
      position: relative;
      width: 100%;
      height: 30px;
      margin-right: 20px;
      background: white;
      border-radius: 2px; }
      .alert__block .form-top .input input {
        padding-left: 32px;
        border-radius: 2px;
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        background-image: -o-linear-gradient(45deg, white, white);
        background-image: linear-gradient(45deg, white, white); }
      .alert__block .form-top .input .ico {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        left: 8px;
        width: 14px;
        height: 14px;
        background-image: url("../ico/call-b.svg");
        background-size: 100% 100%; }
    .alert__block .form-top .submit {
      height: 30px;
      text-transform: uppercase;
      background-color: white;
      outline: none;
      cursor: pointer;
      border: 1px solid white;
      border-radius: 2px;
      padding: 0 18px;
      -webkit-transition: background-color .3s ease-out;
      -o-transition: background-color .3s ease-out;
      transition: background-color .3s ease-out; }
      .alert__block .form-top .submit:hover {
        background-color: rgba(255, 255, 255, 0.5); }
  .alert__block #agree {
    position: absolute;
    opacity: 0; }
  .alert__block .agree {
    color: #1e3648;
    position: relative;
    padding-left: 24px;
    cursor: pointer; }
    .alert__block .agree::after {
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      border: 1px solid #1e3648;
      border-radius: 2px;
      top: 2px;
      background-size: 70% 70%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      left: 0; }
  .alert__block #agree:checked + .agree::after {
    background-image: url("../ico/yes-form.svg"); }

.about-pr__block {
  background-color: #1e3648;
  color: white;
  padding: 20px;
  text-align: center; }

.product__card {
  margin-top: 40px;
  margin-bottom: 40px; }
  .product__card .title {
    color: #e75a59;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px; }

.produect__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px; }
  .produect__content .text {
    -webkit-flex-basis: 30%;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%; }
  .produect__content .img {
    -webkit-flex-basis: 30%;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .produect__content .img img {
      height: 100%;
      max-height: 400px; }
  .produect__content .params {
    -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%; }
    .produect__content .params .param-elem {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      font-size: 14px;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      padding-top: 10px;
      padding-bottom: 10px; }
      .produect__content .params .param-elem:last-of-type {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
      .produect__content .params .param-elem .param {
        text-transform: uppercase;
        -webkit-flex-basis: 60%;
            -ms-flex-preferred-size: 60%;
                flex-basis: 60%; }
      .produect__content .params .param-elem .value {
        text-align: left;
        -webkit-flex-basis: 40%;
            -ms-flex-preferred-size: 40%;
                flex-basis: 40%;
        padding-left: 15px; }

.produect__keys {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 70px; }
  .produect__keys .key {
    margin-right: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 150px;
    text-align: center; }
    .produect__keys .key .ico {
      width: 80px;
      height: 80px;
      background-size: 60% 60%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      margin-bottom: 10px; }
      .produect__keys .key .ico.eco {
        background-image: url("../ico/eco-g.svg"); }
      .produect__keys .key .ico.tep {
        background-image: url("../ico/temp-o.svg"); }
      .produect__keys .key .ico.noi {
        background-image: url("../ico/voice-n.svg"); }
      .produect__keys .key .ico.exc {
        background-image: url("../ico/window-o.svg"); }
      .produect__keys .key .ico.gua {
        background-image: url("../ico/secure-b-o.svg"); }
      .produect__keys .key .ico.sec {
        background-image: url("../ico/lock.svg"); }
      .produect__keys .key .ico.cold {
        background-image: url("../ico/cold.svg"); }
      .produect__keys .key .ico.color {
        background-image: url("../ico/colors.svg"); }
      .produect__keys .key .ico.sun {
        background-image: url("../ico/sun.svg"); }
    .produect__keys .key .text {
      font-size: 14px; }

.logo__wrapper {
  background-color: #1e3648;
  padding: 20px 60px; }
  .logo__wrapper .teplo {
    width: 180px;
    height: 90px;
    background-image: url("../img/teplowin.png");
    background-size: 100% auto;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
  .logo__wrapper .text {
    text-align: center;
    color: white; }

.pack {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .pack .img {
    -webkit-flex-basis: 30%;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%; }
    .pack .img img {
      max-width: 400px; }
  .pack .about {
    width: 50%;
    margin-left: 40px; }
    .pack .about .title {
      font-weight: 900;
      margin-bottom: 20px; }

.pack__block {
  margin-top: 50px;
  margin-bottom: 50px; }

.btns-pr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .btns-pr .pr-btn {
    cursor: pointer;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 13px;
    background-color: #e75a59;
    color: white;
    text-transform: uppercase;
    margin: 20px;
    -webkit-transition: border-color .3s ease-out;
    -o-transition: border-color .3s ease-out;
    transition: border-color .3s ease-out;
    width: 160px;
    text-align: center; }
    .btns-pr .pr-btn.active {
      border-color: #e75a59; }
