.main__wrapper {
  background-image: url("../img/dealer.jpg"); }

.form__wrapper .text {
  padding-top: 0 !important;
  background: #3d6684;
  margin-bottom: 80px; }

.form__wrapper {
  height: auto;
  min-height: 100vh; }

.key-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 24px; }

.key__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .key__block .key-elem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px; }
    .key__block .key-elem .ico {
      width: 160px;
      height: 160px;
      background-color: white;
      border-radius: 4px;
      display: block;
      margin-bottom: 20px;
      text-align: center;
      border: 1px solid #777777; }
      .key__block .key-elem .ico svg {
        max-width: 80px;
        max-height: 80px;
        margin-top: 40px;
        fill: black; }
    .key__block .key-elem .title {
      font-size: 14px;
      max-width: 160px;
      text-align: center; }

.download__block {
  margin-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .download__block .download {
    color: black;
    background: white;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid white;
    -webkit-transition: background-color .3s ease-out;
    -o-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out; }
    .download__block .download:first-of-type {
      margin-right: 40px; }
    .download__block .download .ico {
      width: 24px;
      height: 24px;
      background-size: 100% 100%;
      margin-right: 14px;
      background-image: url("../ico/file.svg"); }
    .download__block .download:hover {
      background: rgba(255, 255, 255, 0.7); }

.main__img {
  margin-bottom: 10vh;
  max-height: 450px;
  max-width: 55vw;
  margin-left: 60px;
  background: rgba(30, 54, 72, 0.5);
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px; }
  .main__img .title {
    text-align: left !important; }
